# Copyright (c) 2016, nubia. All rights reserved.
#
# init.nb.rc
# For all nubia projects defined in device/zte

#import init.nb.sensor.rc

on init
    export LD_SHIM_LIBS "/system/lib/libNubiaImageAlgorithm.so|libshim_camera.so:/system/lib64/libNubiaImageAlgorithm.so|libshim_camera.so"

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system

service gx_fpd /system/bin/gx_fpd
    class late_start
    user system
    group system
